header{
    background-color: rgb(59, 240, 22);
    font-size: 40px;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 10px;

}
.imagem_da_pagina{
    text-align: center;
    background-color: rgb(26, 240, 72);

}
img{
    width: 90%;
    height: auto;

}

div{
    text-align: center;
    font-size: 40px;
}

footer{

    background-color: rgb(15, 240, 45);
    font-size: 60px;
    text-align: center;


}